body
{
    font-size:120%;
    background-color: #D7D2B9;
    color: #5d5d5d;
    margin:0px;
}

#menu ul li {
    display: block;
    float: left;
    padding: 10px;
    color: #FFFFFF;
}

#menu .logout {
    color: #FFFFFF;
    display: block;
    float: right;
    padding: 10px;
}

#menu ul {
    width: 850px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

#menu {
    background-color: #5d5d5d;
    height: 50px;
}

#wrapper {
    margin: 0px auto;
}

#content{
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.login {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#content a:link {color: #9D9159;text-decoration:none;}
#content a:visited {color: #9D9159;text-decoration:none;}
#content a:hover {color: #9D9159;font-weight:bold;text-decoration:none;}
#menu a:link {color: #D7D2B9;text-decoration:none;}
#menu a:visited {color: #D7D2B9;text-decoration:none;}
#menu a:hover {color: #D7D2B9;text-decoration:none;}