body
{
    font-size:120%;
    font-family:"comic sans",Comic Sans MS,'cursive';
    background-color: #D7D2B9;
    color: #5d5d5d;
    margin:10px;
}

#menu ul li {
    display: block;
    float: left;
    padding: 10px;
}

#menu .logout {
    display: block;
    float: right;
    padding: 10px;
}

#menu ul {
    margin: 0px;
    padding: 0px;
}

#menu {

    height: 50px;
}

#wrapper {
    width: 850px;
    margin: 0px auto;

}

a:link {color: #9D9159;text-decoration:none;}
a:visited {color: #9D9159;text-decoration:none;}
a:hover {color: #D2B8D7;font-weight:bold;text-decoration:none;}