%head
  %title Flo & Suti's Marketplace
  %link(rel="stylesheet" type="text/css" href="/style.css")
%body
  #wrapper
    #content
      #message
        -unless msg.nil?
          #{msg}
      =yield
