.login
  %head
    %title Flo & Suti's Marketplace
    %link(rel="stylesheet" type="text/css" href="/style.css")
  %body
    #wrapper
      #content
        =yield
        #message
          -unless msg.nil?
            .info
              %p #{msg}
