%h4 Login
%form( action="/login" method="POST" )
  %p
    %label
      Username:
      %input(type="text" name="username")
  %p
    %label
      Password:
      %input(type="password" name="password")
  %p
    %input(type="submit" text="submit")
//message has to be put in as variable, can be used for displaying a text msg