%head
  %title Flo & Suti's Marketplace
  %link(rel="stylesheet" type="text/css" href="/style.css")
%body
  #wrapper
    #menu
      %ul
        %li
          %a{:href => "/user/#{session[:name]}"}
        %li
          %a{:href => "/item"} Buy items
        %li
          %a{:href => "/user"} Users
        %li
          Credits: #{User.by_name(session[:name]).credits}
        .logout
          %a{:href => "/logout"} Logout
    #content
      %hr
      #message
        -unless msg.nil?
          #{msg}
      =yield
