%head
  %title Flo & Suti's Marketplace
  %link(rel="stylesheet" type="text/css" href="/style.css")
%body
  #wrapper
    #menu
      %ul
        %li
          -unless current_page == :item
            %a{:href => "/item"}Buy items
          -else
            Buy items
        %li
          -unless current_page == :user_view and user.name == session[:name]
            %a{:href => "/user/#{session[:name]}"} My items
          -else
            My items
        %li
          -unless current_page == :user
            %a{:href => "/user"} Users
          -else
            Users
        .logout
          %a{:href => "/logout"} Logout
        .logout
          Credits: #{User.by_name(session[:name]).credits}
    #content
      #message
        -unless msg.nil?
          #{msg}
      =yield
