%h1 Users
%a{:href => "/logout"} Logout
%ul
  - for user in User.all
    %a{:href => "/user/#{user.name}"} #{user.name}

%hr
%a{:href => "/user/#{session[:name]}"} My items
%a{:href => "/item"} Buy items
%a{:href => "/logout"} Logout