%h4 Users
%ul
  - for user in User.all
    %p
      %a{:href => "/user/#{user.name}"} #{user.name}

%hr
%a{:href => "/user/#{session[:name]}"} My items
%a{:href => "/item"} Buy items
%a{:href => "/logout"} Logout